*.py[cod]
*$py.class
*.so
venv/
.env/
env/
*.env
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.log
*.out
*.err
.cache/
.pytest_cache/
.mypy_cache/
.pylint.d/
.vscode/
docker-compose.override.yml
docker-compose.prod.yml
**/Dockerfile
.dockerignore
*.pgdata
pgdata/

openapi/
__pycache__/
.idea/
*.sqlite3
poetry.lock
